<div class="row">
    <div class="col-md-4">
        <form action="/search">
            <div class="form-group">
                <label for="searchUsername">Search User to chat with:</label>
                <input name="searchUsername" type="text" id="searchUsername" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default">
            </div>
        </form>
    </div>
</div>

<h1>Start chat with: </h1>
{{#each threads}}
<div class="panel">
    {{#each this.users}} 
        {{#if toLinkThread}}
        <h5><a href="/thread/{{this.username}}" class="large-link">{{this.username}}</a></h5>
        {{/if}} 
    {{/each}}

</div>
{{/each}}